@import '../../global.css';
.menu{
    width: 300px;
    height: 100vh;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 1s ease;

}
.active{
    right:0px;
}
.menu ul{
    margin: 0 0 0 34px;
    padding: 0;
    list-style: none;
    font-size: 30px;
}
.menu ul li{
    margin-bottom: 20px;
}
.menu ul li:hover{
    font-weight: 700;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}